.expense-date {
  display: flex;
  flex-direction: column;
  width: 5.5rem;
  height: 5.5rem;
  border: var(--border);
  color: var(--color-dark);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-md);
  background-color: var(--background-color);
  align-items: center;
  justify-content: center;
}

.expense-date__month {
  font-size: 0.8rem;
  font-weight: var(--bold);
}

.expense-date__year {
  font-size: 0.7rem;
}

.expense-date__day {
  font-size: 1.2rem;
  font-weight: var(--bold);
}
