.new-expense {
  background-color: var(--background-white);
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: var(--border-radius);
  text-align: center;
  border: 1px solid var(--color-light);
  box-shadow: var(--shadow-md);
}

.new-expense:hover,
.new-expense:active {
  box-shadow: var(--shadow-xl);
}

.new-expense button {
  font: inherit;
  font-weight: 700;
  color: var(--background-white);
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  border: 3px solid var(--color-dark);
  background-color: var(--color-dark);
  border-radius: var(--border-radius);
  margin-right: 1rem;
}
.new-expense button:hover {
  background-color: var(--background-black);
  border-color: var(--background-black);
  color: var(--background-white);
}

.new-expense button:active {
  background-color: var(--color-dark);
  border: 3px solid var(--color-dark);
  color: var(--background-white);
}

.new-expense button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #ddb3f8;
}
